<mat-sidenav-container *ngIf="opened" class="mat-sidenav-container">
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>
    <app-add-bulk-users
      #sidenav
      [opened]="opened"
      (closeSidenavEvent)="toggleBulkUsersSidenav()"
    ></app-add-bulk-users>
  </mat-sidenav-content>
</mat-sidenav-container>

<div [ngClass]="{ 'aside-open': opened }">
  <div class="users-list">
    <div class="users-list__title">
      <p class="users-list__title-text">Users</p>
      <div class="users-list__title__buttons">
        <button
          mat-button
          class="users-list__title__buttons__export-csv"
          (click)="downloadCsvFile()"
        >
          EXPORT CSV
        </button>
        <button
          mat-button
          class="users-list__title__buttons__add-user"
          (click)="toggleSidenav()"
        >
          ADD USER
        </button>
        <button mat-button class="users-list__title__buttons__add-bulk-users">
          <p
            class="users-list__title__buttons__add-bulk-users__p"
            (click)="toggleBulkUsersSidenav()"
          >
            ADD BULK USERS
          </p>
        </button>
      </div>
    </div>
    <div class="users-list__mat-tab-group-div">
      <mat-tab-group
        class="users-list__mat-tab-group-div__mat-tab-group"
        [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab [label]="UsersFilterValues[0]"></mat-tab>
        <mat-tab [label]="UsersFilterValues[1]"></mat-tab>
        <mat-tab [label]="UsersFilterValues[2]"></mat-tab>
      </mat-tab-group>
    </div>
    <mat-table
      [dataSource]="dataSource"
      class="users-list__table"
      matSort
      matSortDirection="asc"
      matSortActive="id"
    >
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="users-list__mat-columnDef-name"
          mat-sort-header="name"
        >
          NAME
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstname }} {{ element.lastname }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="users-list__mat-columnDef-status"
          mat-sort-header="status"
        >
          STATUS
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{
            'users-list__table__status-active': element.status,
            'users-list__table__status-inactive': !element.status
          }"
        >
          {{ element.status ? " Active" : "Inactive" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="coursesCompleted">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="users-list__mat-columnDef-taskCompleted"
          mat-sort-header="coursesCompleted"
        >
          COURSES COMPLETED
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.coursesCompleted }}/{{ totalCourses }}
        </td>
      </ng-container>
      <ng-container matColumnDef="leftDays">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="users-list__mat-columnDef-leftDays"
          mat-sort-header="leftDays"
        >
          TIME LEFT
        </th>
        <td mat-cell *matCellDef="let element">{{ element.leftDays }} Days</td>
      </ng-container>
      <ng-container matColumnDef="dateAdded">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="users-list__mat-columnDef-dateAdded"
          mat-sort-header="dateAdded"
        >
          DATE ADDED
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateAdded | date : "dd.MM.yyyy - hh:mm a" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="settings"></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            class="users-list__settings-icon"
            svgIcon="points-black"
          ></mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="users-list__table__row"
      ></tr>
    </mat-table>
    <div class="line"></div>
    <mat-paginator
      [length]="15"
      [pageSize]="15"
      [pageSizeOptions]="[5, 10, 15]"
      aria-label="Rows per page"
    >
    </mat-paginator>
  </div>

  <!-- ASIDES -->
  <mat-sidenav-container class="sidenav-container" *ngIf="showSidenav">
    <app-addnewuser
      [showSidenav]="showSidenav"
      (showSidenavChange)="showSidenav = $event"
    ></app-addnewuser>
  </mat-sidenav-container>
</div>
