@import "/src/styleguide.scss";

@mixin button-style($width, $bg-color, $height, $border, $border-radius) {
  width: $width;
  border: $border;
  border-radius: $border-radius;
  background-color: $bg-color;
  height: $height;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

.aside-open {
  width: 100%;
  height: 100%;
  background-color: $light-gray-color;
}

.open {
  width: 100%;
  height: calc(100% - 5rem);
  background-color: #e6e7e9;
  filter: brightness(0.7);
  transition: filter 0.5s;
}

.users-list {
  max-width: 1660px;
  margin: 0 auto;
  width: 90%;
  height: 85%;

  &__title {
    display: flex;
    align-items: center;
    line-height: 1.75rem;
    @include dimensions(null, 3.813rem);
    background: $white-color;
    padding: 0 1rem;
    background: #ffffff;
    justify-content: space-between;

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      &__export-csv {
        @include button-style(
          7.875rem,
          $light-gray-color,
          2.25rem,
          none,
          0.25rem
        );
      }

      &__add-user {
        @include button-style(
          6.688rem,
          $light-gray-color,
          2.25rem,
          none,
          0.25rem
        );
      }

      &__add-bulk-users {
        @include button-style(
          10.063rem,
          $primary-color,
          2.25rem,
          none,
          0.25rem
        );

        &__p {
          margin-top: 0.7rem;
          color: $white-color;
        }
      }
    }
  }

  &__table {
    td,
    th {
      vertical-align: middle;
    }

    &__status-active {
      color: green;
    }
    &__status-inactive {
      color: red;
    }

    &__row {
      height: 2.75rem;
    }
  }

  &__settings-icon {
    @include dimensions(1rem, 1rem);
    cursor: pointer;
  }

  &__mat-tab-group-div {
    @include dimensions(100%, null);
    background-color: $white-color;

    &__mat-tab-group {
      @include dimensions(20%, null);
      background-color: $white-color;
      font-size: 0.875rem;
    }
  }

  &__mat-columnDef-name {
    &__td {
      color: $primary-color !important;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include dimensions(54.438rem, 3.5rem);
  }

  &__mat-columnDef-status,
  &__mat-columnDef-leftDays,
  &__mat-columnDef-dateAdded {
    @include dimensions(15rem, null);
  }

  &__mat-columnDef-taskCompleted {
    @include dimensions(16.5rem, null);
  }
}

.line {
  @include dimensions(100%, 0.063rem);
  background-color: $medium-gray-color;
}

.mat-sidenav-container {
  z-index: 10000;
  top: 0;
  right: 0;
  position: absolute;
  background-color: $white-color;
  width: 41.875rem;
  height: 100%;
}

//aside
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sidenav-container {
  position: absolute;
  top: 0;
  right: 0;
  @include dimensions(40%, 100%);
}
