.logo {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 8.2rem;
    top: 8px;

}
.log-in{
    background-image: url('../../../assets/images/Background@3x.png');
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    align-items: center;
    position: relative;
   
    &__card{
        display: block;
        margin-left: 8.2rem;
        margin-right: auto;
        width: 400px;
        height: 283px;
        align-self: center;
        justify-self: center;
        &__header{
            box-sizing: border-box;
            height: 61px;
            padding-bottom: 16px;
            font-size: 15px;
        }
        &__content{
            .form-log-in{
                &__email{
                    .mat-mdc-form-field-hint-wrapper{
                        padding: 0px;
                    }
                }
                // &__password{
                //     height: 61px;
                // }
            }
        }
        &__button{
            padding: 0px;
            padding-left: 16px;

            button{
                height: 36px;
                width: 82px;
            }
        }
    }
}

