@import "../../../../styleguide.scss";

.add-bulk-users {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40rem;
  height: 100%;

  &__details {
    &__table {
      width: 39.875rem;
      box-shadow: 0px 1px 5px 0px #0000001f;
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5625rem;
      padding: 0 0.5rem;
      border-bottom: 1px solid #c7cbd1;

      &__icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  &__buttons {
    width: 227px;
    height: 36px;
    gap: 16px;
    display: flex;

    &__check-file {
      width: 119px;
      height: 36px;
      padding: 0px 16px;
      border-radius: 4px;
      background-color: $primary-color;
      color: $white-color;
    }
    &__cancel {
      width: 92px;
      height: 36px;
      padding: 0 16px;
      border-radius: 4px;
      background-color: $light-gray-color;
      border: none;
    }
  }
}
