<mat-sidenav-content>
        <div class="header-container">
            <mat-card-title class="sidenav-header">
                add new user
            </mat-card-title>
            <button mat-icon-button class="close-button" (click)="closeAside()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

        <div class="content-container">
            <form class="form" [formGroup]="addNewUserForm" (ngSubmit)="onSubmit()">
                <div class="form-container">
                    <mat-form-field class="field-1">
                        <input matInput type="text" class="input" formControlName="name" placeholder="Name" (blur)="isNameInputInteracted = true">
                        <mat-hint *ngIf="isNameInputInteracted" align="start" [class.invalid]="checkDisplayError(addNewUserForm.get('name'), isSubmitted)">{{getErrorMessageName()}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="field-2">
                        <input matInput type="text" class="input" formControlName="surname" placeholder="Surname" (blur)="isSurnameInputInteracted = true">
                        <mat-hint *ngIf="isSurnameInputInteracted" align="start" [class.invalid]="checkDisplayError(addNewUserForm.get('surname'), isSubmitted)">{{getErrorMessageSurname()}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="field-3">
                        <input matInput type="text" class="input" formControlName="email" placeholder="Email" (blur)="isEmailInputInteracted = true">
                        <mat-hint *ngIf="isEmailInputInteracted" align="start" [class.invalid]="checkDisplayError(addNewUserForm.get('email'), isSubmitted)">{{getErrorMessageEmail()}}</mat-hint>
                    </mat-form-field>
                </div>

                <div class="footer-container">
                    <button mat-raised-button class="addUser-button" (click)="onSubmit()">add user</button>
                    <button mat-raised-button class="cancel-button" (click)="closeAside()">cancel</button> 
                </div>
            </form>
        </div>
</mat-sidenav-content>
