@import "/src/styleguide.scss";

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem 10px 1rem;
    height: 5%;

    .sidenav-header {
        color: #0E0F11;
        font-weight: 500;
        font-size: 1rem;
        text-transform: capitalize;
    }
}

.content-container {
    height: 84%;

    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        color: $dark-gray-color;

        .form-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .field-3 {
                grid-column: 1 / -1;
            }
        }

        .invalid {
            color: red;
        }

        .footer-container {
            height: 5%;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem 0 0;
        
            .addUser-button, .cancel-button {
                text-transform: uppercase;
            }
        
            .addUser-button {
                background-color: #00195F;
                color: #fff;    
            }
        
            .cancel-button {
                background-color: #F5F5F5;
            }
        }
    }
}