<ng-template #onlyLogo >
    <div class="containerLogoBig grid-container" >
        <div class="containerLogoSmall container">
            <img src="../../assets/Logo Ness2.svg" alt="Logo" class="logo">
        </div>
    </div>
</ng-template>

<div class="navbarContainerAdmin grid-container" *ngIf="show;else onlyLogo" [ngClass]="{'open': showSidenav()}">
    <div class="navbar container">
        <div class="logo">
            <img src="../../assets/Logo Ness2.svg" alt="Logo" class="logo">
        </div>

        <ul class="buttonContainer">
            <a><li class="list-item" (click)="openPageModal('dashboard')" [ngStyle]="{'border': showSidenav() ? '2px solid transparent' : ''}">DASHBOARD</li></a>
            <a><li class="list-item"(click)="openPageModal('users')" [ngStyle]="{'border': showSidenav() ? '2px solid transparent' : ''}">USERS</li></a>
            <a><li class="list-item" (click)="openPageModal('resources')" [ngStyle]="{'border': showSidenav() ? '2px solid transparent' : ''}">RESOURCES</li></a>
        </ul>

        <div class="avatar">
          <div>{{ currentUser | initialsCustomepipe }}</div>
        </div>
    </div>
</div>