<div class="table-container">
    <!-- Tasks Table -->
    <mat-table *ngIf="selectedTable === tableTasks" [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let task;"> 
                <img src="../../../assets/icons/Ellipse.svg" alt="SVG Icon" class="mat-cell-img">
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">name</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{ task.title }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type" mat-sort>type</mat-header-cell>
            <mat-cell *matCellDef="let task">
                {{ task.type === 'WITH_COURSES' ? 'With Courses' : (task.type === 'WITHOUT_COURSES' ? 'Single' : '') }}
              </mat-cell>
              
        </ng-container>

        <ng-container matColumnDef="courses">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by courses" mat-sort>course</mat-header-cell>
            <mat-cell *matCellDef="let task">
                {{ task.courses.length > 0 ? task.courses.length : '-' }}
              </mat-cell>
              
        </ng-container>
        

        <ng-container matColumnDef="position">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by position" mat-sort>order</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{ task.position }}</mat-cell>
        </ng-container>
<ng-container matColumnDef="duration">
  <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by duration" mat-sort>length</mat-header-cell>
  <mat-cell *matCellDef="let task"> {{ formatMinuteToHourAndMinute(task.duration) }}</mat-cell>
</ng-container>
        <ng-container matColumnDef="rewardQuantity">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rewardQuantity" mat-sort>rewards</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{ task.rewardQuantity }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dateCreated" mat-sort>date added</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{ task.dateCreated | date:'dd-MM-yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastEdited">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastEdited" mat-sort>last edited</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{ task.lastEdited | date:'dd-MM-yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="editedBy">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by editedBy" mat-sort>edited by</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{ task.editedBy }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplayTasks"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplayTasks;"></mat-row>
    </mat-table>

    <!-- Courses Table -->
    <mat-table *ngIf="selectedTable === tableCourses" [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">name</mat-header-cell>
            <mat-cell *matCellDef="let course;"> {{ course.title }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="link">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by link">link/file</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ course.link }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileType">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fileType">file type</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ course.fileType }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="duration">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by duration">length</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ formatMinuteToHourAndMinute(course.duration) }}</mat-cell>
        </ng-container>        
        <ng-container matColumnDef="rewardQuantity">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rewardQuantity">rewards</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ course.rewardQuantity }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dateCreated">date added</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ course.dateCreated | date:'dd-MM-yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastEdited">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastEdited">last edited</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ course.lastEdited | date:'dd-MM-yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="editedBy">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by editedBy">edited by</mat-header-cell>
            <mat-cell *matCellDef="let course"> {{ course.editedBy }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let course"> 
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplayCourses"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplayCourses;"></mat-row>
    </mat-table>

    <!-- Avatars Table -->
    <mat-table  *ngIf="selectedTable === tableAvatars" [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">name</mat-header-cell>
            <mat-cell *matCellDef="let avatar;"> {{ avatar.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mymeType">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mymeType">linked to</mat-header-cell>
            <mat-cell *matCellDef="let avatar"> {{ avatar.mimeType }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="isDefault">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by isDefault">default</mat-header-cell>
            <mat-cell *matCellDef="let avatar"> {{ avatar.isDefault }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="addedBy">
            <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by addedBy">added by</mat-header-cell>
            <mat-cell *matCellDef="let avatar"> {{ avatar.addedBy }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let avatar"> 
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplayAvatars"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplayAvatars;"></mat-row>
    </mat-table>

    <!-- State: No Data -->
    <div *ngIf="selectedTable === tableTasks && dataSource.data.length === 0">
        <div class="table-with-no-data">
            <img src="assets/icons/task.svg" alt="task-icon" class="task-icon">
            <p class="no-data-message">No tasks to display!</p>
        </div>
    </div>
    
    <div *ngIf="selectedTable === tableCourses && dataSource.data.length === 0">
        <div class="table-with-no-data">
            <img src="assets/icons/course.svg" alt="task-icon" class="task-icon">
            <p class="no-data-message">No courses to display!</p>
        </div>
    </div>
    
    <div *ngIf="selectedTable === tableAvatars && dataSource.data.length === 0">
        <div class="table-with-no-data">
            <img src="assets/icons/avatar.svg" alt="task-icon" class="task-icon">
            <p class="no-data-message">No avatars to display!</p>
        </div>
    </div>
    
</div>