<div class="multiple-container" [formGroup]="secondFormGroup">
  <select
    name="course"
    id="course"
    (change)="onCourseSelected($event)"
    [ngStyle]="{
      'border-bottom': showErrorMessage
        ? '1px solid #FF5252'
        : '1px solid rgba(0, 0, 0, 0.42)'
    }"
    class="course-select"
    formControlName="selectedCourses"
  >
    <option value="" disabled hidden>Select a course</option>
    <option *ngFor="let course of courses; let i = index" [value]="i">
      {{ course.title }}
    </option>
  </select>

  <p class="error-message" *ngIf="showErrorMessage">
    You have to select at least 1 course to continue
  </p>

  <div class="course-option-container" *ngFor="let course of selectedCourses; let i = index">
    <div class="main-course-content">
      <div class="course-option-content">
        <div class="course-title-container">
          <span class="course-title">{{ course?.title }}</span>
        </div>
        <div class="course-details">
          <div class="course-details-item">
            <span>{{ course.duration }} Minutes</span>
          </div>
          <div class="course-details-item"><span>∙</span></div>
          <div class="course-details-item">
            <span>{{ course.link }}</span>
          </div>
          <div class="course-details-item"><span>∙</span></div>
          <div class="course-details-item">
            <span>{{ course.rewardQuantity }} {{ rewardTypeNameMap[course.id] }}</span>
          </div>
          <div class="course-details-item"><span>∙</span></div>
          <div class="course-details-item">
            <span>{{ course.noOfPoints }} Points</span>
          </div>
        </div>
      </div>
      <div class="delete-course">
        <img
          class="remove-course"
          src="assets/icons/remove.svg"
          alt="Remove Course Icon"
          (click)="removeCourse(i)"
        />
      </div>
    </div>
  </div>
</div>