<mat-sidenav-container class="sidenav-container" *ngIf="showSidenav">
    <mat-sidenav-content>
        <app-add-task [showSidenav]="showSidenav" (showSidenavChange)="showSidenav = $event"></app-add-task>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="resources-container" [ngClass]="{'open': showSidenav}">
<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">
      {{ activeTabTitle }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <div class="tabs-container">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      (selectedIndexChange)="updateActiveTabTitle($event)"
    >
      <mat-tab label="TASKS">
        <mat-divider></mat-divider>
        <div class="table-container">
          <app-tasks></app-tasks>
        </div>
      </mat-tab>

            <mat-tab label="COURSES">
                <mat-divider></mat-divider>
                <div class="table-container">
                    <app-courses></app-courses>
                </div>
            </mat-tab>
            
            <mat-tab label="AVATARS"> 
                <mat-divider></mat-divider>
                <div class="table-container">
                    <app-avatars></app-avatars>
                </div>
            </mat-tab>
            <mat-tab label="INDUSTRIES"> 
                <mat-divider></mat-divider>
            </mat-tab>
        </mat-tab-group>
        
        <button mat-raised-button class="tab-button" *ngIf="activeTabTitle === 'Tasks'" (click)="toggleSidenav()">Add Task</button>
        <button mat-raised-button class="tab-button" *ngIf="activeTabTitle === 'Courses'">Add Course</button>
        <button mat-raised-button class="tab-button" *ngIf="activeTabTitle === 'Avatars'">Add Avatar</button>
        <button mat-raised-button class="tab-button" *ngIf="activeTabTitle === 'Industries'">Add Industry</button>
    </div>
</mat-card>
</div>
