<mat-sidenav-container class="sidenav-container" *ngIf="showSidenav">
    <mat-sidenav-content>
        <ng-container *ngIf="showAddTask">
            <app-add-task [showSidenav]="showAddTask" (showSidenavChange)="closeDialog('task')"></app-add-task>
        </ng-container>
        <ng-container *ngIf="showAddAvatar">
            <app-add-avatar [showSidenav]="showAddAvatar" (showSidenavChange)="closeDialog('avatar')"></app-add-avatar>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="resources-container" [ngClass]="{'open': showSidenav}">
<mat-card class="card-container">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title">
            {{ activeTable }}
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="tabs-container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="updateActiveTabTitle($event)">
            <mat-tab label="TASKS" [disabled]="showSidenav"> 
                <mat-divider></mat-divider>
                <div class="table-container">
                    <app-resource-table [dataSource]="dataSourceTasks" [selectedTable]="selectedTableTasks"></app-resource-table>
                </div>
            </mat-tab>

            <mat-tab label="COURSES" [disabled]="showSidenav">
                <mat-divider></mat-divider>
                <div class="table-container">
                    <app-resource-table [dataSource]="dataSourceCourses" [selectedTable]="selectedTableCourses"></app-resource-table>
                </div>
            </mat-tab>
            
            <mat-tab label="AVATARS" [disabled]="showSidenav"> 
                <mat-divider></mat-divider>
                <div class="table-container">
                    <app-resource-table [dataSource]="dataSourceAvatars" [selectedTable]="selectedTableAvatars"></app-resource-table>
                </div>
            </mat-tab>
        </mat-tab-group>
        
        <button mat-raised-button class="tab-button" *ngIf="activeTable === selectedTableTasks"  (click)="toggleSidenav('task')">Add Task</button>
        <button mat-raised-button class="tab-button" *ngIf="activeTable === selectedTableCourses">Add Course</button>
        <button mat-raised-button class="tab-button" *ngIf="activeTable === selectedTableAvatars" (click)="toggleSidenav('avatar')">Add Avatar</button>
    </div>
</mat-card>
</div>
