<div class="users-require-attention">
  <div class="users-require-attention__title">
    <span>Users Require Attention</span>
  </div>
  <mat-divider></mat-divider>
  <div class="users-require-attention__mat-tab-group-div">
    <mat-tab-group (selectedTabChange)="onTabChange($event)"
      class="users-require-attention__mat-tab-group-div__mat-tab-group">
      <mat-tab label="IN PROGRESS"> </mat-tab>
      <mat-tab label="ONBOARDING CLOSED"> </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="users-require-attention__name">
        NAME
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="tasksLeft">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="tasksLeft" class="users-require-attention__tasks-left">
        TASKS LEFT
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.tasksLeft }}/{{ totalCourses }}
      </td>
    </ng-container>

    <ng-container matColumnDef="timeLeft">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="leftDays" class="users-require-attention__time-left">
        TIME LEFT
      </th>
      <td mat-cell *matCellDef="let element">{{ element.leftDays }} Days</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef class="users-require-attention__buttons"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="users-require-attention__button-view-profile">
          VIEW PROFILE
        </button>
        <button mat-button class="users-require-attention__button-extend-time">
          <span>EXTEND TIME</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

    <!-- State: No Data -->
    <div *ngIf="dataSource.data.length === 0">
      <div class="table-with-no-data">
        <mat-icon svgIcon="users"></mat-icon>
        <p class="no-data-message">No user require attention.</p>
      </div>
    </div>

  <mat-paginator [length]="15" [pageSize]="15" [pageSizeOptions]="[5, 10, 15]" aria-label="Rows per page">
  </mat-paginator>
</div>