.dashboard-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 1rem 1rem 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  margin: 0 auto;
  gap: 1rem;
}

.leaderboard-container {
  height: 100%;
  grid-row: span 2;
}

.userProgressTable {
  height: 100%;
  grid-column: 1/-2;
}