<div class="single-container" [formGroup]="secondFormGroup">
  <div class="link-container">
    <input
      matInput
      placeholder="Add Link"
      type="text"
      class="custom-input"
      formControlName="link"
      [ngStyle]="{
        'border-bottom': showLinkError
          ? '1px solid #FF5252'
          : '1px solid rgba(0, 0, 0, 0.42)'
      }"
    />
    <span class="error-message" *ngIf="showLinkError"
      >Please add a valid URL. This field is mandatory and cannot be left
      empty</span
    >
    <hr class="stepper-divider" />
  </div>

  <p class="duration-text">Duration</p>
  <div class="duration-container">
    <div class="hour-container">
      <input
        matInput
        type="number"
        class="custom-input"
        placeholder="0"
        formControlName="durationHour"
        [ngStyle]="{
          'border-bottom': showDurationFieldEmptyError
            ? '1px solid #FF5252'
            : '1px solid rgba(0, 0, 0, 0.42)'
        }"
      />
      <mat-hint class="hint-title" *ngIf="!showDurationFieldEmptyError"
        >Leave empty or less than 1 hour</mat-hint
      >
    </div>

    <div class="minutes-container">
      <input
        matInput
        type="number"
        class="custom-input"
        placeholder="00"
        formControlName="durationMinutes"
        [ngStyle]="{
          'border-bottom': showDurationFieldEmptyError
            ? '1px solid #FF5252'
            : '1px solid rgba(0, 0, 0, 0.42)'
        }"
      />
      <mat-hint class="hint-title" *ngIf="!showDurationFieldEmptyError"
        >Duration in minutes</mat-hint
      >
    </div>
  </div>
  <span class="error-message" *ngIf="showDurationFieldEmptyError"
    >This field is required. Please enter a valid task duration.</span
  >

  <hr class="stepper-divider" />
  <p class="duration-text">Unlock Time</p>
  <div class="unlock-container">
    <div class="hour-container-unlock">
      <input
        matInput
        type="number"
        class="custom-input"
        placeholder="0"
        formControlName="unlockHour"
        [ngStyle]="{
          'border-bottom':
          showUnlockFieldEmptyError || showUnlockTimeExceedsDurationError
              ? '1px solid #FF5252'
              : '1px solid rgba(0, 0, 0, 0.42)'
        }"
      />
      <mat-hint
        class="hint-title"
        *ngIf="!showUnlockFieldEmptyError && !showUnlockTimeExceedsDurationError"
        >Time to unlock lets the user mark the course as completed after the
        selected time; leave empty or less than 1 hour.</mat-hint
      >
    </div>

    <div class="minutes-container-unlock">
      <input
        matInput
        type="number"
        class="custom-input"
        placeholder="00"
        formControlName="unlockMinutes"
        [ngStyle]="{
          'border-bottom':
            showUnlockFieldEmptyError || showUnlockTimeExceedsDurationError
              ? '1px solid #FF5252'
              : '1px solid rgba(0, 0, 0, 0.42)'
        }"
      />
      <mat-hint
        class="hint-title"
        *ngIf="!showUnlockFieldEmptyError && !showUnlockTimeExceedsDurationError"
        >Duration in minutes</mat-hint
      >
    </div>
  </div>
  <span class="error-message" *ngIf="showUnlockFieldEmptyError"
    >This field is required. Please enter a valid time to unlock.
  </span>
  <span class="error-message" *ngIf="showUnlockTimeExceedsDurationError"
    >Time to unlock must be equal or less than task’s duration.</span
  >
</div>
