@import '/src/styleguide.scss';

.user-card {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  border-bottom: 0.063rem solid $medium-gray-color;
  line-height: 1.15rem;
  padding: 0 0.25rem;
  background: $white-color;
  height: 4.375rem;

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  &__name {
    color: $black-color;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.015rem;
  }

  &__days_left,
  &__points {
    color: $black-color;
    font-size: 0.75rem;
    height: 1rem;
  }

  &__separator {
    opacity: 0.8;
    color: #3e3f41;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    border-width: 0.02rem;
  }

  &__trophies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}
