@import '/src/styleguide.scss';

@mixin set-size($width, $height, $margin-top: 0) {
  width: $width;
  height: $height;
  margin-top: $margin-top;
}

.leaderboard-section {
  border-radius: 0.25rem;
  width: 33.75rem;
  height: 36.407rem;
  background-color: $white-color;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.20);

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.063rem solid $medium-gray-color;
    line-height: 1.5rem;
    height: 3.813rem;
    padding: 0 1rem;
    background: $white-color;

    &__text {
      color: $black-color;
      font-family: Roboto;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 0.015rem;
      flex: 1;
    }

    .form__view__all__users__button {
      background: $light-gray-color;
      border: none;
      color: $black-color;
      font-family: Roboto;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.078rem;
    }
  }

  .my-custom-tabs {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    height: 3rem;
  }

  .tab {
    flex: 1;
    text-align: center;
    color: $primary-color;
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 0.75rem 0;
  }

  .tab.active-tab {
    position: relative;
    color: #00195F;
    border-bottom: 0.125rem solid $primary-color;
  }

  .done-tab {
    color: $dark-gray-color;
  }

  .tab:hover {
    background-color: $light-gray-color;
  }

  .no-users-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28.407rem;
  }
}