<div class="leaderboard-section">
  <div class="leaderboard-section__header">
    <div class="leaderboard-section__header__text">Leaderboard</div>
    <button type="button" mat-button class="form__view__all__users__button" (click)="viewAllUsers()">
      {{ "view all" | uppercase }}
    </button>
  </div>
  <mat-tab-group (selectedTabChange)="updateActiveTabTitle()">
    <mat-tab label="IN PROGRESS">
      <mat-divider></mat-divider>
      <app-leaderboard-list [leaderboardUsers]="usersInProgress"></app-leaderboard-list>
    </mat-tab>
    <mat-tab label="DONE">
      <mat-divider></mat-divider>
      <app-leaderboard-list [leaderboardUsers]="usersInDone"></app-leaderboard-list>
    </mat-tab>
  </mat-tab-group>

  <ng-container *ngIf="!usersInProgress.length || !usersInDone.length">
    <div class="no-users-container">
      <img src="assets/icons/users.svg" alt="Users Icon" />
      <p>
        No users in
        {{ activeTab === leaderboardTabsEnum.InProgress ? 'Progress' : 'Done'}}
      </p>
    </div>
  </ng-container>
</div>
