<div class="add-task-container">
  <div class="add-task-header">
    <span>Add Task</span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="stepper-container">
    <mat-horizontal-stepper linear #stepper>
      <div class="stepper-general-container">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>General</ng-template>
            <hr class="stepper-divider" />

            <div class="general-stepper-inputs">
              <input
                matInput
                placeholder="Mandatory Training"
                type="text"
                formControlName="title"
                value="Mandatory Training"
                class="custom-input"
              />
              <mat-hint class="hint-title">Title</mat-hint>
              <div
                class="alert"
                [style.visibility]="
                showTitleAlert ? 'visible' : 'hidden'
                "
              >
                Please add a title
              </div>

              <div class="general-stepper-textarea">
                <textarea
                  class="description-textarea"
                  placeholder="Description"
                  formControlName="description"
                  rows="6"
                  cols="70"
                ></textarea>
                <div
                  class="alert"
                  [style.visibility]="
                  showDescriptionAlert ? 'visible' : 'hidden'
                  "
                >
                  Please add a description
                </div>
              </div>

              <div class="general-stepper-order">
                <input
                  matInput
                  type="number"
                  formControlName="order"
                  class="custom-input"
                  placeholder="1"
                />
                <mat-hint class="hint-title"
                  >Order for User on Homepage from top to bottom</mat-hint
                >
                <div
                  class="alert"
                  [style.visibility]="
                  showOrderAlert ? 'visible' : 'hidden'
                  "
                >
                  Please specify a valid order value
                </div>
              </div>
            </div>
            <div></div>
          </form>
          <div class="general-buttons">
            <button mat-button class="next-button" (click)="moveToDetailsStepper(stepper)">
              {{ 'next step' | uppercase }}
            </button>
            <button
              mat-button
              matStepperNext
              class="cancel-button"
              (click)="closeDialog()"
            >
            {{ 'cancel' | uppercase }}
            </button>
          </div>
        </mat-step>
      </div>


      <!-- PAS 1 UP -->
      
      <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Details</ng-template>
          <hr class="stepper-divider" />
          <div class="type-container">
            <span>Type</span>
            <div class="type-buttons">
              <button mat-button
                [ngClass]="isSingleButtonClick ? 'next-button' : 'cancel-button'"
                (click)="toggleSingle()">
                {{ 'single' | uppercase }}
              </button>
      
              <button mat-button
                [ngClass]="isMultipleButtonClick ? 'next-button' : 'cancel-button'"
                (click)="toggleMultiple()">
                {{ 'multiple' | uppercase }}
              </button>

            </div>

          </div>
          <div class="details-content">

          <div class="details-input" >
            <div class="single-container" *ngIf="isSingleButtonClick; else multipleTemplate">
              <input
              matInput
              placeholder="Add Link"
              type="text"
              formControlName="link"
              class="custom-input"
            />
            <hr class="stepper-divider" />
            </div>

            <ng-template #multipleTemplate>
              <div class="multiple-container">
                <h1>Multiple Container</h1>
              </div>
            </ng-template>
          </div>
          </div>
            
          <div class="details-buttons">
            <div class="toggle-step-buttons">
            <button
              mat-button
              matStepperNext
              matStepperPrevious
              class="cancel-button"
            >
            {{ 'previous step' | uppercase }}
            </button>
            <button mat-button class="next-button">
              {{ 'next step' | uppercase }}
            </button>
          </div>
            <button
            mat-button
            matStepperNext
            class="cancel-button"
            (click)="closeDialog()"
          >
          {{ 'cancel' | uppercase }}
          </button>
          </div>
        </form>
      </mat-step>


      <!-- PAS 3 DOWN -->

      <mat-step>
        <ng-template matStepLabel>
          <div class="stepper-rewards-container">
            <span class="rewards-text">Rewards</span>
            <span class="points-avatar-text">Points & Avatar</span>
          </div>
        </ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>