@import "/src/styleguide.scss";

.add-task-container.open {
  background-color: #fff;
  filter: brightness(0.7);
  transition: filter 0.5s;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .add-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5625rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid $medium-gray-color;
  }

  .stepper-divider {
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
  }

  .custom-input {
    font-family: Roboto;
    border: none;
    height: 2.5625rem;
    margin-bottom: 0.3125rem;
    color: rgba(0, 0, 0, 0.87);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  .hint-title {
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.4px;
  }

  .general-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.025rem;
}
    .next-button {
      font-family: Roboto;
      font-style: normal;
      letter-spacing: 1.25px;
      color: #fff;
      background-color: $primary-color;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      width: auto;
    }

    .cancel-button {
      font-family: Roboto;
      font-style: normal;
      line-height: 2.25rem;
      text-transform: uppercase;
      color: $black-color;
      background-color: #f5f5f5;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      width: auto;
    }
  }

  .cancel-image {
    cursor: pointer;
  }

  .general-stepper-inputs {
    display: flex;
    flex-direction: column;

    .description-textarea {
      resize: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      margin-left: 0.625rem;

      &::placeholder {
        color: #5c5c5c;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .general-stepper-order {
    display: flex;
    flex-direction: column;
  }

  .alert {
    height: 1.25rem;
    background: $error-color;
    color: $white-color;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.12) inset;
    display: flex;
    padding: 0.625rem 1rem;
    align-items: center;
    margin-bottom: 0.625rem;
  }

  .stepper-rewards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .rewards-text {
      font-size: 1rem;
    }

    .points-avatar-text {
      font-size: 0.75rem;
    }
  }

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: $primary-color;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.type-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
}

.type-buttons .next-button, .type-buttons .cancel-button{
  width: 10rem;
}

.details-input {
  width: 100%;
}

.details-input .custom-input {
  width: 100%;
  margin-bottom: 2rem;
}

.details-content {
  width: 100%;
}

.toggle-step-buttons {
  display: flex;
  gap: 0.625rem;
}

.details-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.details-buttons .cancel-button {
  align-self: flex-end;
}

@media (max-height: 700px) {
  .general-stepper-inputs {
    height: 70vh;
  }

  .details-content {
    height: 65vh;
  }
}

@media (min-height: 701px) and (max-height: 950px) {
  .general-stepper-inputs {
    height: 75vh;
  }

  .details-content {
    height: 65vh;
  }
}

@media (min-height: 951px) and (max-height: 1200px) {
  .general-stepper-inputs {
    height: 80vh;
  }

  .details-content {
    height: 75vh;
  }
}

@media (min-height: 1201px) {
  .general-stepper-inputs {
    height: 85vh;
  }

  .details-content {
    height: 85vh;
  }
}
