<hr class="stepper-divider" />
<div class="reward-multiple-task-container" [formGroup]="thirdFormGroup">
  <div class="reward-input-container">
    <mat-form-field>
      <ngx-mat-file-input class="input-png" [placeholder]="'Upload Icon'" accept=".png" formControlName="fileControl">
        <mat-icon ngxMatFileInputIcon>add</mat-icon>
      </ngx-mat-file-input>
      <mat-hint class="hint-title">
        File Type: .png, size 80x80px
      </mat-hint>
    </mat-form-field>
  </div>
  <hr class="stepper-divider" />

  <div class="avatar-container">
    <select formControlName="avatarSelected" name="avatar" id="avatar" class="avatar-select" (change)="onAvatarSelected($event)">
      <option value="" disabled hidden>Select Unlock Avatars</option>
      <option *ngFor="let avatar of avatars; let i = index" [value]="i">
        {{ avatar.name }}
      </option>
    </select>
    <div class="avatar-option-container" *ngFor="let avatar of avatarsSelected; let i = index">
      <div class="avatar-content">
        <img [src]="getDecodedImage(avatar.content)" alt="SVG Icon" class="mat-cell-img">
        <span>{{ avatar.name }}</span>
      </div>
      <div class="delete-course">
        <img class="remove-course" src="assets/icons/remove.svg" alt="Remove Course Icon" (click)="removeAvatar(i)">
      </div>
    </div>
  </div>
  <div class="reward-container">
    <div *ngFor="let rewardType of getRewardTypes()">
      <span class="reward-text">Reward Type: {{ rewardType }}</span>
      <div class="reward-content">
        <div class="reward-type-container">
            <input matInput type="text" class="reward-input score-input" [value]="getRewardQuantity(rewardType) + ' ' + rewardType" readonly />
          <mat-hint class="hint-title">Reward</mat-hint>
        </div>
  
        <div class="reward-score-container">
          <input matInput type="text" formControlName="score" class="reward-input score-input" [value]="getRewardScore(rewardType) + ' Points'" readonly />
          <mat-hint class="hint-title">No. Points; Pre-Calculated</mat-hint>
        </div>
      </div>
    </div>
  </div>
  
</div>
