<div class="users-list">
  <div class="users-list__title">
    <p class="users-list__title-text">Users Progress</p>
    <div class="users-list__title__buttons">
      <button mat-button class="users-list__title__buttons__add-user"  (click)="viewAllUsers()">
        VIEW ALL USERS
      </button>
    </div>
  </div>

  <mat-table
    [dataSource]="dataSource"
    class="users-list__table"
    matSort
    matSortDirection="asc"
    matSortActive="id"
  >

    <ng-container matColumnDef="name" >
      <th
        mat-header-cell
        *matHeaderCellDef
        class="users-list__mat-columnDef-name"
        mat-sort-header="name"
      >
        NAME
      </th>
      <td mat-cell *matCellDef="let element" class="users-list__table__name"
      >{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="taskCompleted">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="users-list__mat-columnDef-taskCompleted"
        mat-sort-header="taskCompleted"
      >
        TASKS COMPLETED
      </th>
      <td mat-cell *matCellDef="let element"
      >
        {{ element.taskCompleted }}/{{ totalCourses }}
      </td>
    </ng-container>

    <ng-container matColumnDef="timeLeft">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="users-list__mat-columnDef-timeLeft"
        mat-sort-header="timeLeft"
      >
        TIME LEFT
      </th>
      <td mat-cell *matCellDef="let element"
      >{{ element.timeLeft }} Days</td>
    </ng-container>

    <ng-container matColumnDef="dateRegistered">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="users-list__mat-columnDef-dateRegistered"
        mat-sort-header="dateRegistered"
      >
        DATE REGISTERED
      </th>
      <td mat-cell *matCellDef="let element"
      >
        {{ element.dateRegistered | date : "dd.MM.yyyy - hh:mm a" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="settings">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="settings"></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          class="users-list__settings-icon"
          svgIcon="points-black"
        ></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="users-list__table__row"
    ></tr>

  </mat-table>

  <div
  *ngIf="allUsersProgress.length == 0"
  class="users-require-attention__no-users"
  >
    <mat-icon
      class="users-require-attention__no-users__icon"
      svgIcon="users"
    ></mat-icon>
    <h1>No users aded yet.</h1>
  </div>
  <div class="line"></div>
</div>