<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">
      Users Progress
    </mat-card-title>
    <button mat-button class="users-list__title__buttons__add-user" (click)="viewAllUsers()">
      VIEW ALL USERS
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>

  <!-- ////////////// -->
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 table">
    <ng-container matColumnDef="name">
      <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by name">name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="taskCompleted">
      <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by tasks completed">tasks completed</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.taskCompleted }}/{{ element.totalTasks }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="timeLeft">
      <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by time left">time left</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.timeLeft }} Days</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateRegistered">
      <mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by dateRegistered">date registered</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.dateRegistered | date : "dd.MM.yyyy - hh:mm a" }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let avatar">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button disabled mat-menu-item>Edit User</button>
          <button disabled mat-menu-item>Delete User</button>
      </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay" class="table-row"></mat-row>
  </mat-table>
  <!-- /////////////// -->

  <!-- State: No Data -->
  <div *ngIf="dataSource.data.length === 0">
    <div class="table-with-no-data-progress-table">
      <mat-icon svgIcon="users"></mat-icon>
      <p class="no-data-message">No users in progress.</p>
    </div>
  </div>
</mat-card>