@mixin set-size($width, $height, $margin-top: 0) {
  width: $width;
  height: $height;
  margin-top: $margin-top;
}

@import "../../../styleguide.scss";

.form {
  border-radius: 0.25rem;
  box-shadow: 5px 5px 10px $black-color(0, 0, 0, 0.3);
  background-color: $white-color;

  .current-progress-header {
    padding-top: 1.2rem;
  }

  &__title {
    border-bottom: 0.063rem solid $medium-gray-color;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 15px;
    height: 3.74rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__mat-form-field {
      margin-top: 1.25rem;
      height: 70px;
    }

    .hovered .mat-form-field-underline {
      background-color: $white-color;
    }
  }

  &__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.59rem 0 2.59rem 0;
    font-size: 1rem;

    &__icon {
      width: 60px;
      height: 60px;
    }
  }
}

.donutchart {
  height: 10rem;
  padding-bottom: 14.9px;
}

.chart-container {
  position: relative;

  .center-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  .legend {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 12px;
    width: 100%;
    gap: 0.5rem;

    &__colors {
      display: flex;
      gap: 0.125rem;
      &__color {
        width: 0.938rem;
        height: 0.8rem;
        margin-top: 0.2rem;
      }
    }
  }
}

//RESPONSIVENESS
@media (max-height: 43.75em) {
  .donutchart {
    height: 7rem;
    padding-bottom: 0.35rem;
  }

  .center-text {
    top: 50% !important;
  }

  .legend {
    top: 70% !important;
  }
}
