@mixin set-size($width, $height, $margin-top: 0) {
  width: $width;
  height: $height;
  margin-top: $margin-top;
}

@import "../../../styleguide.scss";

.form {
  @include set-size(100%, 100%);
  border-radius: 0.25rem;
  box-shadow: 5px 5px 10px $black-color(0, 0, 0, 0.3);
  background-color: $white-color;

  &__title {
    border-bottom: 0.063rem solid $medium-gray-color;
    padding: 0rem 1rem 0rem 1rem;
    height: 3.813rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__mat-form-field {
      margin-top: 1.25rem;
    }

    .hovered .mat-form-field-underline {
      background-color: $white-color;
    }
  }

  &__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 1rem;

    &__icon {
      width: 60px;
      height: 60px;
    }
  }
}

.center-text {
  position: absolute;
  top: 27.8%;
  left: 52.8%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;

  &__input {
    border: none;
    width: 2rem;
    outline: none;
  }
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24.375rem;
  height: 1.25rem;
  position: absolute;
  top: 38.8%;
  left: 42%;
  gap: 0.75rem;

  &__colors {
    display: flex;
    gap: 0.125rem;
    &__color {
      width: 0.938rem;
      height: 0.938rem;
      margin-top: 0.2rem;
    }
  }
}

.donutchart {
  width: 25rem;
  height: 13.75rem;
  margin-left: 4.375rem;
}
