<div class="form">
  <div class="form__title">
    <div>Current Progress</div>
    <div>
      <mat-form-field class="form__title__mat-form-field">
        <mat-label>Last 30 Days</mat-label>
        <mat-select>
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <div id="donutchart" class="donutchart"></div>
    <div class="legend">
      <div *ngFor="let item of legendItems" class="legend__colors">
        <div
          class="legend__colors__color"
          [style.backgroundColor]="item.color"
        ></div>
        {{ item.name }}
      </div>
    </div>
    <div id="center-text" class="center-text">
      {{ progressSubject | async }}
    </div>
  </div>
</div>
